# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.cdx
*.dbf
*.so
*.dylib
logs
log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.workspace_rc