**/node_modules/*
**/archive*
**/logs*
**/pids*
**/.workspace_rc
**/Dockerfile
**/.DS_Store
**/.dockerignore
**/.gitignore
**/*.pid
**/*.seed
**/.lock-wscript
**/.sass-cache
**/thumbs.db
**/.idea
**/.vscode
**/vendor*
**/.git

**/*.jpg
**/*.png
**/*.gz
**/*.zip
**/*.zst
**/*.log
**/*.exe

**/data
**/cicd
**/imgutil
**/phapi
**/phsearch
**/streamfile
**/meet

**/rss-feed
**/rss
